@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
/* font-family: 'Tilt Prism', cursive; */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.field {
    /* display: flex; */
    height: 600px;
    border: 2px solid black;
    /* align-items: center; */
}

.field:hover .ball{
    transform: translate(-50px, -200px);
}
.bat {

    object-fit: contain;
    height: 70%;
    float: right;
    margin-right: 80px;
    transition: transform 2s ease .5s;
}
.bat:hover{
    transform: rotate(40deg);
    transform-origin: top;
}
.ball {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    left: 380px;
    top: 130px;
    transition: transform 2s ease 1.75s;
  
}
